[Unit]
Description=PulseAudio Sound System (Headless)
Requires=sound.target
After=sound.target

[Service]
# Run as the dedicated 'pulse' user
User=pulse
Group=audio

# Path to the pulseaudio executable
ExecStart=/usr/bin/pulseaudio --system --realtime --log-target=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
