[Unit]
Description=MQTT Tezuka
After=network.target

[Service]
Type=simple
User=analog
ExecStart=/home/analog/tools/api_controller.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

